.Footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #ddd;
    // background-image: url("/assets/shared/banner-api-clarity.jpeg");
	// background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;

    &Logo {
        width: 150px;
    }

    &Title {
        font-size: 18px;
        font-weight: 400;
        color: #ccc;
    }

    &Copyright {
        font-size: 18px;
        font-weight: 400;
        color: #333;

        &Icon {
            margin-bottom: -3px;
        }
    }
}