.BlogPost {
	// width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 100px;

	&Container {
		width: 50vw;
		@media (max-width: 1200px) {
			width: 80vw;
		}
	}

	&BackButton {
		margin-left: 50px;
		display: flex;
		align-self: flex-start;
		flex-direction: row;
		align-items: center;
		font-size: 28px;
		color: #0076d5;
		@media (max-width: 1200px) {
			font-size: 24px;
		}

		&Text {
			padding-left: 10px;
			font-weight: 500;
		}
	}

	&Tag {
		padding: 1rem 2rem;
        border-radius: 100px;
		background-color: rgba(#0076d5, 0.3);
        color: #0076d5;
        font-size: 18px;
        font-weight: 500;
        margin-right: 1rem;
		margin-bottom: 1rem;
		@media (max-width: 900px) {
			font-size: 14px;
			padding: .5rem 1rem;
			margin-right: .5rem;
			margin-bottom: .5rem;
		}
		@media (max-width: 450px) {
			font-size: 12px;
		}

		&List {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2rem 0;
			flex-wrap: wrap;
		}
	}

	&Title {
		text-align: center;
		font-size: 38px;
		font-weight: 700;
		@media (max-width: 900px) {
			font-size: 28px;
		}
		@media (max-width: 450px) {
			font-size: 24px;
		}
	}
	&Header {
		display: flex;
		flex-direction: column;
		align-items: center;

		&Byline {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 20px;
			flex-wrap: wrap;
			&Avatar {
			}
			&Date {
				font-size: 20px;
				font-style: italic;
			}
		}

		&CoverImage {
			// width: 100vw;
			height: 400px;
			margin-bottom: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			@media (max-width: 875px) {
				height: auto;
				width: 600px;
			}

			@media (max-width: 610px) {
				// height: 40vh;
				width: 400px;
			}
			@media (max-width: 410px) {
				// height: 30vh;
				width: 100%;
			}
			@media (max-width: 310px) {
				// height: 30vh;
				width: 100%;
			}

			& img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}

	&Body {
		line-height: 1.4;
		font-size: 18px;
		width: 50vw;

		@media (max-width: 1200px) {
			width: 80vw;
		}

		& img {
			max-width: 50vw;

			@media (max-width: 1200px) {
				width: 80vw;
			}
		}

        & a {
            color: #0076d5;
        }

        // & code {
        //     background-color: #ddd;
        //     padding: 2px 10px;
        // }
		&Container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}
